#root {
  height: 100%;
}
:root {
  --main: #f08804;
  --sec-color: #f3a847;
  --button-color: #ffd814;
  --border-input-color: #a6a6a6;
  --header: #131921;
  --footer: #232f3e;
  --sidebar-header-hover: #232f3e;
  --sidebar-navs-hover: #eaeded;
}
/*  */
body {
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Lato';
  color: rgb(48, 48, 48);
  background-color: rgb(255, 255, 255);
}
* {
  outline: none;
  box-sizing: border-box;
}
img {
  object-fit: contain;
}
main {
  flex: 1;
}
.main {
  min-height: 100vh;
}

/* header section  */

.Header {
  background-color: #131921;
  height: 60px;
}
.logo {
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
  width: 96px;
}
.search {
  width: 100%;
}

.searchIcon {
  background-color: #febd69 !important;
}
.searchIcon:hover {
  background-color: #f3a847 !important;
}
.input-group input:focus {
  outline: none !important;
  border: 2px solid #f3a847;
  box-shadow: 0 0 10px #f3a847;
}
.header-search {
  width: 50%;
}

@media screen and (max-width: 485px) {
  .header-search {
    display: none;
  }
}
@media screen and (min-width: 486px) {
  .main-search {
    display: none;
  }
}
.main-search input {
  background-color: rgb(252, 249, 218);
}
.cart {
  position: relative;
}
.cart-count {
  color: #000;
  background-color: var(--sec-color);
  border-radius: 50%;
  padding: 0 6px;
  position: absolute;
  bottom: 18px;
  left: 18px;
  z-index: 100;
}

.cart-img {
  width: 35px;
  height: 35px;
}
.header-cart {
  color: #fff;
}
.link-cart {
  margin-right: 1vw;
}
/* end header section  */
/* start footer section  */
.footer {
  background-color: var(--footer);
  z-index: 999;
  /* height: 15vh; */
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  color: #fff;
  height: 15vh;
}
.footer-links ul {
  list-style: none;
}
/* end footer section  */
/* start home  */
.top {
  border-radius: 1rem;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  /* margin-bottom: -150px; */
  /* height: 80%; */
  object-fit: cover;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 6rem;
  height: 3rem;
}
.carousel-control-next,
.carousel-control-prev {
  width: 10%;
  bottom: 80px;
  opacity: 1;
}
/* end home  */
/* pro section  */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product button {
  background-color: var(--button-color);
}
.products img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.product-info {
  padding: 1rem;
}
a {
  color: #0f1111 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  text-decoration: none;
}
a:hover {
  color: var(--main) !important;
}
/*end pro section  */
/* backTop  */
.backTop {
  max-width: 100%;
  background-color: #37475a;
  cursor: pointer;
}
.backTop:hover {
  background-color: #445569;
}
/* end of backTop */
/* --------------------------------------------------------- */
/* user */
/*log in Form */

.form-btn:hover {
  background-color: var(--sec-color);
  color: var(--sidebar-header-hover);
}
.form-btn {
  color: rgb(17, 17, 17);
  border-radius: 5px;
  width: 100%;
  box-shadow: rgb(255 255 255 / 60%) 0px 1px 0px inset;
}
/* End of log in form */

/* ------------------------------------------- */
/* admin  */
/* start sideBar home page */
.sideBar-offcanvas {
  background-color: var(--header);
  color: #fff;
  display: inline-block;
  width: fit-content;
  padding: 1px 6px 6px 6px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.sideBar-offcanvas-header {
  background-color: var(--sec-color);
}
.sideBar-offcanvas-header-title:hover {
  color: var(--sidebar-header-hover) !important;
}
/* end sideBar home page*/
/* start Dashboard sideBar */

.sidebar {
  position: fixed;
  background-color: var(--header);
  top: 60px;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 15%;
}
@media screen and (max-width: 1200px) {
  .sidebar {
    width: 25%;
  }
}
.DropdownMenu {
  background-color: var(--header);
  width: fit-content;
  padding: 1px 6px 6px 6px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.DropdownHeader {
  background-color: var(--sec-color);
  color: var(--header);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
}
.LinkItem {
  color: #fff !important;
  font-size: 17px !important;
  line-height: 24px !important;
}
.navLink:hover {
  padding-left: 1vw;
  transition: all 0.3s ease-in-out;
  background-color: none !important;
}
.rowDrop2 {
  padding-top: 18vh;
}
.rowDrop3 {
  padding-top: 22vh;
}
.sidebar-navs:hover {
  background-color: var(--sidebar-navs-hover) !important;
  color: #111 !important;
}
/* end Dashboard sideBar */
/* start LogInButton */
.LogInButton {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-left: 1vw;
  cursor: pointer;
}
.LogInButton:hover {
  color: var(--sec-color);
}
/* end LogInButton */
/* start addProduct BTN  */
#btnId .form-control {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1vw;
  width: 100%;
  margin-bottom: 0.5vw;
  align-items: center;
}
.ErrorMessageTxt {
  color: red;
  font-size: smaller;
}
.checkboxStyle {
  position: relative;
  right: 120px !important;
}
/* end addProduct BTN  */
/* CheckoutSteps*/
.CheckoutSteps > div {
  border-bottom: 0.2rem solid var(--sidebar-navs-hover);
}
.CheckoutSteps > div.active {
  border-bottom: 0.2rem solid var(--main);
  color: var(--main);
}
/*end CheckoutSteps  */
/* passwordToggle*/
.passwordToggle {
  position: relative;
  left: 420px !important;
  bottom: 33px;
  font-size: large;
}
.passwordToggleUpdatePass {
  position: relative;
  left: 540px !important;
  bottom: 33px;
  font-size: large;
}
/* passwordToggle*/

.admin-icon {
  width: 35px;
  height: 35px;
}
/* searchImg */
.searchImg {
  object-fit: contain;
  height: 45vh;
}
.SearchCategory {
  position: absolute;
  top: 90px;
  left: 80vw;
}
@media screen and (max-width: 768px) {
  .SearchCategory {
    left: 75vw;
    top: 121px;
  }
}
.paramSearch {
  color: var(--main);
}
.dashProducts {
  background-image: url('./assets/imgs/Product-Development-01-01-1200x840-1-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 60vh;
  width: 40vw;
  position: relative;
  left: 40vw;
  top: 3vh;
}
.crudBtn {
  /* display: block; */
  /* width: 15%; */
  margin-bottom: 5px;
}
/* searchImg */
/* cardBody */
/* .cardBody{
    
} */

/* cart */
.total-cart {
  position: fixed;
  top: 143px;
  right: 0;
}
@media screen and (max-width: 768px) {
  .total-cart {
    position: static;
  }
}
/* accordion */
.sideBarDash {
  z-index: 1;
}
/*adress-Check*/
.adress-Check {
  background-color: #fcf5ee;
  border: 1px solid #fbd8b4;
  border-radius: 5px;
}
.adress-Check input {
  margin: 12px !important ;
  margin-left: 0px !important;
}
.logBTN {
  position: relative;
  top: 5vh !important;
}

@media screen and (max-width: 600px) {
  .order-top {
    display: none !important;
  }
}
.checkoutvisa {
  display: none;
}
.myModal {
  /* min-width: 60vw;
    width: clamp(50vw, 50vw, 90vw);
    margin: auto; */
  width: 50vw;
  max-width: 50vw;
}
@media screen and (max-width: 768px) {
  .myModal {
    width: 100vw;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
}
